<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Kitchen</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Welcome to Your Kitchen</h1>
        <a href="foods/new">Add New Item</a>
        <ul>
            <% foods.forEach((food)=> { %>
                <a href="/users/:userId/foods/<%= food._id%>/edit">
                    <li>
                        <%=food.name %>
                </a>
                <form action="/users/:userId/foods/<%= food._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete Food</button>
                </form>
                </li>


                <% }) %>
        </ul>
</body>

</html>